body {
    font: 12px Arial;
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse
}

button {
    width: 5rem;
}

path {
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

/*
change width to 800px and height to 600px
*/
.tooltip {
    position: absolute;
    text-align: center;
    width: 800px;
    height: 600px;
    padding: 2px;
    font: 12px sans-serif;
    border: 0px;
    outline-color: black;
    outline-style: solid;
    outline-width: 1px;
    background-color: #FEFEFE;
    border-radius: 8px;
    pointer-events: none;
    z-index: 1;
}
